.container{
    background-color: #212529;
    height: 100%;
    margin: 10%;
    border-radius: 12px;
    
    border-style: solid;
    border-width: 2px;
    border-color: dimgray;
}

h1 {
    color: white;
    text-align: center;
}

.jumbotron{
    background-color: #212529;
}

body{
    background: rgb(232,134,131);
    background: radial-gradient(circle, rgba(232,134,131,1) 0%, rgba(232,191,125,0.9990371148459384) 100%);
}

h2 {
    text-align: center;
}

#formDiv {
    display: inline;
    margin: 15px;
}

.form-control{
    width: 19%;
    display: inline-block;
}

#buttons{
    margin: 0;
}

.btn{
    display: inline-block;
    width: 19%;
    margin: 10px;
}

.btn-danger {
    width: 25px;
}

#mainHead {
    text-align: center;
}
td{
    text-align: center;
}

h3{
    margin: 0px;
    font-size: 20px;
    display: inline-block;
}
#monthlySalaryHead {
    text-align: center;
    background-color: forestgreen;
}